* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: url('../images/farm.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    max-width: 100%;
}

header {
    text-align: center;
    margin: 2rem;
}

h1 {
    font-family: 'Erica One', sans-serif;
    font-size: 4rem;
    color: white;
    text-shadow: 
    -4px -4px 0 rgb(164 46 37),  
    4px -4px 0 rgb(164 46 37),
    -4px  4px 0 rgb(164 46 37),
    4px  4px 0 rgb(164 46 37);
}

p {
    margin-bottom: 2rem;
}

main {
    text-align: center;
    flex: 1;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}



.card {
    width: 10rem;
    height: 10rem;
    background-color: rgba(165, 42, 42, 0.67);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.flipped {
   opacity: 0; 
}

.card-image {
    width: 100%;
    height: 100%;
}

#play-again-btn {
    margin: 2rem auto;
    padding: 1rem; /* space btw text and border */
    font-size: 1rem;
    cursor: pointer;
    border: solid rgb(85, 59, 59);
    border-radius: 2.5rem;
    display: none; 
    background-color: rgba(165, 42, 42, 0.67);
    color: white;
}

footer {
    text-align: center;
    margin-top: auto;
    padding: 1rem;
}

@media only screen and (max-width: 768px) {
    body {

    }
}

@media only screen and (max-width: 480px) {
    body {
        
    }
}