* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../images/farm.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    max-width: 100%;
}

header {
    text-align: center;
    margin: 2rem auto 1rem auto;
}

h1 {
    font-family: 'Erica One', sans-serif;
    font-size: 9vmin;
    color: white;
    text-shadow: 
    -0.2rem -0.2rem 0 rgb(164 46 37),  
    0.2rem -0.2rem 0 rgb(164 46 37),
    -0.2rem  0.2rem 0 rgb(164 46 37),
    0.2rem  0.2rem 0 rgb(164 46 37);
    letter-spacing: 0.1rem;
}

h2 {
    font-family: 'Atma', sans-serif;
    font-size: 5vmin;
}

main {
    text-align: center;
    flex: 1;
}


#start-game-btn {
    margin: 20vmin auto;
    padding: 3vmin; /* space btw text and border */
    cursor: pointer;
    border: solid rgb(164 46 37);
    border-radius: 50%;
    display: block; 
    background-color: #fff1ce;
    color: black;
    box-shadow: 0px 4px 8px rgba(8, 8, 8, 4);
}

.play {
    font-family: 'Atma', sans-serif;
    font-size: 5vmin;
    line-height: 5vmin;
}

a {
    text-decoration: none;
}

footer {
    text-align: center;
    margin-top: auto;
    padding: 1rem;
    font-size: 2vmin;
}
