* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: rgba(248, 125, 9, 0.628);
    min-height: 100vh;
}

header {
    text-align: center;
    margin: 20px;
}

h1 {
    font-family: 'Erica One', sans-serif;
}

h2, h3 {
    font-family: 'Atma', sans-serif;
}

main {
    text-align: center;
    flex: 1;
}

#start-game-btn {
    /* margin-top: auto; push button to the bottom */
    margin: 20px auto;
    padding: 11px; /* space btw text and border */
    font-size: 16px;
    cursor: pointer;
    border: solid;
    border-radius: 50px;
    display: block; /* set to block initially, but this will shift to none while game is active */
    background-color: rgb(24, 94, 91);
    color: white;
}

footer {
    text-align: center;
    margin-top: auto;
    padding: 10px;
}